<header>
  <dashboard-header [languages]="languages" 
                    [user]="user" 
                    (toggleMenu)="toggleMenu()" 
                    (toggleSideBar)="toggleSideBar()"
                    (selectLanguage) ="selectLanguage($event)">
  </dashboard-header>
</header>

<div class="layout">
  <aside class="aside-left">
    <dashboard-menu [expanded]="menuExpanded" 
                    [menuItems]="menuItems">
    </dashboard-menu>
  </aside>
  
  <section class="main">
    <router-outlet></router-outlet>
  </section>

</div>
